html,body,div,h2,p,img,strong,article,aside,footer,header,menu,nav,section{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{
    line-height:1;
    font-family:sans-serif
}
h2 {font-size:25px}

body,html{
    background-color: powderblue
}
header{
    background:#6f9898;
    padding:10px 30px;
    margin:auto;
    position:fixed;
    left:0;
    right:0;
    top:0;
    z-index:999;
    height:40px
}

article{
    border-bottom:2px dotted #998;
    padding-bottom:20px;
    margin-bottom:20px;
    overflow:hidden 
}

article h2{
    font-weight:normal;
    margin-bottom:12px;
}
article h2:hover{
    color:#FFF;
    background:#344


} 
.section-img{
    display: block;
    width: 100px;
    height: auto;
}
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

footer{
    background:#344;
    width: 100%;
    clear:both;
    text-align:right;
    padding-top: 20px;
    box-sizing: border-box;
}

aside > div{
    margin:10px auto;
    background:#344;
    min-height:150px;
    padding:30px 10px;
    text-align:center;
    color:#FFF
}
 aside > div img {
    display: block;
    width: 100px;
    height: auto;
    margin: 30px auto;
 }

footer {
    color:whitesmoke;
    text-align: center;
    height: 60px;
}

#main{
    flex: 1;
    min-width: 0;
}
#wrapall{
    padding-top:60px;
    display: flex;
}

#header{max-width:1000px;
    overflow:hidden;
    height:40px;
    display:flex;
    justify-content: space-between;
}

#wrapall,#header{
    max-width:1100px;
    margin:0 auto
}

#sidebar{
    width: 300px;
    padding: 10px;
    background-color: 
}

#page{
    padding:20px
}


.socialButtons{
    float:right;
    padding-top:8px
}
.socialButtons a{
    display:inline-block;
    cursor:pointer;
    background:#0570e6;
    padding:2px;width:33px;
    text-align:center;
    height:20px;
    font-weight:bold;
    color:#FFF;
    text-decoration:none;
    line-height:20px;
    font-size:20px;
    border-radius:5px;
    vertical-align:middle
}

section{
    position: relative;
    text-align: center;
}
.socialButtons a.linkedin{
    background:#24568e
}

.sidebarToggle #main{
    margin-left:0
}

.Project1 {
    margin-bottom: 20px;
    padding: 50px;
    height: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

 .Project2 {
    margin-bottom: 20px;
    padding: 50px;
    height: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff; */
}

.Project3 {
    margin-bottom: 20px;
    padding: 50px;
    height: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.Project4 {
    margin-bottom: 20px;
    padding: 50px;
    height: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

aside > div{
    min-height:20px;
    padding:10px
}